@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: 'Syne', sans-serif;
    --color-primary: #744B28;
    --color-secondary: #CDA582;
    --color-tertiary: #D9B79A;
    --color-dark: #202020;
    --color-greydark: #525252;
    --color-greylight: #8D8D8D;
    --color-gradint-primary: #C8A180;
    --color-gradint-secondary: #D9B79A;
}