---
import "../styles/global.css";
---


<header class='header bg-secondary w-full p-3 text-white font-medium hidden sm:flex'>
    <div class='container mx-auto flex justify-around items-center'>
        <ul class='flex gap-4 items-center'>
            <li class='flex items-center gap-2'>
                <i class='fa-solid fa-envelope-open-text'></i> contacto@email.com
            </li>
            <li class='flex items-center gap-2'>
                <i class='fa-brands fa-whatsapp'></i> 3794-831792
            </li>
        </ul>

        <ul class='flex gap-4 items-center'>
            <a href=''>
                <li class='flex items-center gap-2'>
                    <i class='fa-brands fa-facebook'></i> Facebook
                </li>
            </a>
            <a href=''>
                <li class='flex items-center gap-2'>
                    <i class='fa-brands fa-instagram'></i> Instagram
                </li>
            </a>
        </ul>
    </div>
</header>

<style>

</style>